{% extends "base.html" %}
{% block content %}
<div class="login-form" style="height: 604px; margin: 110px auto;">
  <form method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
    {% if user.is_authenticated %}
    <input type="hidden" name="next" value="{{ next }}">

    <h2 class="text-center">회원정보</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="userId" id="userId" placeholder="{{ user.username }}" autocomplete="off" readonly>
      <label for="userId"></label>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="{{ user.email }}" autocomplete="off" readonly>
      <label for="userEmail"></label>
    </div>
    <div class="form-group">
      <label for="id_old_password" style="font-size: 12px; margin-bottom: 5px;">기존 비밀번호:</label>
      <input type="password" class="form-control" name="old_password" id="id_old_password" placeholder="" autocomplete="off" required>
    </div>
    <div class="form-group">
      <label for="id_new_password1" style="font-size: 12px; margin-bottom: 5px;">새 비밀번호:</label>
      <input type="password" class="form-control" name="new_password1" id="id_new_password1" placeholder="" autocomplete="off" required>
    </div>
    <div class="form-group">
      <label for="id_new_password2" style="font-size: 12px; margin-bottom: 5px;">새 비밀번호 확인:</label>
      <input type="password" class="form-control" name="new_password2" id="id_new_password2" placeholder="" autocomplete="off" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-secondary btn-block">수정</button>
      <a href="../dashboard" class="btn btn-secondary btn-block">취소</a>
    </div>
    {% endif %}
  </form>
</div>

{% endblock %}